.button {
  margin: 1.6rem 0;
  width: 100%;
}
.btn__link {
  padding: 1.25rem 0;
  text-align: center;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  display: block;
  cursor: pointer;
  color: #000;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
}
