@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
}

.App{
 text-align: center;
}
.container{
  width: 85%;
  margin: 2rem auto;
}
.profile-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile__imgCon{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid #d1d1d1;
}
.profile__imgCon img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}